.LoadSection {
    &-DragAndDropZone {
        width: 80vw;
        height: 500px;
        margin: auto;
        margin-top: 20px;
    }

    &-Para {
        text-align: center;
        font-size: 18px;
    }
}