@import './../../Constants.scss';

.UploadPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

    &-Content {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        @media (min-width:768px) {
            margin: auto;
            width: 50%;
        }
    }

    &-Text {
        @include paragraph-font;
        margin-bottom: 5%;   
    }

    &-Button {
        margin: auto;
    }
}