@import './../../Constants.scss';

.UploadButton {
    width: 100%;
    height: 100%;

    :hover {
        transition: background-color .3s ease;
        background-color: $black-transparent;
    }
    
    &-Image {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: $border-radius;
        border: white 2px dashed;
        box-sizing: border-box;
    }

    &-Disabled{
        display: none;
    }
}