@import './../../Constants.scss';

.Button {
    cursor: pointer;
    transition: background-color .5s;
    position: relative;

    &_type_default {
        font-size: 24px;
        border: solid black 2px;
        border-radius: $border-radius;
        padding: 5px 10px;
        background-color: white;
    }

    &_type_accent {
        font-size: 24px;
        border: solid black 2px;
        border-radius: $border-radius;
        padding: 5px 10px;
        background-color: rgb(255, 108, 0);
        color: white;
    }

    &_type_close {
        background-color: lightgray;
        border-radius: 50%;
        padding: 2px;
    }

    &_isLoading {
        cursor: default;
    }

    .Loading {
        top: 0;
        right: 46px;
        position: absolute;
    }
}

@media (hover: hover) {
    .Button {
        &:hover {
            background-color: lightgray;
            transition: background-color .5s;
        }

        &_isLoading:hover {
            background-color: white;
        }

        &_type_accent:hover {
            background-color: rgb(203, 16, 0);
        }
    }
}