.DragAndDropZoneActive {
    position: relative;

    &-Shadow {
        border-radius: 30px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        animation: bgFading;
        animation-duration: 500ms;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &-Text {
        color: white;
        text-align: center;
        font-size: 24px;
        padding-top: 200px;
    }
}

@keyframes bgFading {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}