@import './../../Constants.scss';

.Widget {
    &-Header {
        color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 200;
        gap: 5px;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        @include paragraph-font;
        text-align: left;

        h3 {
            margin: 0;
            font-weight: 400;
            @media screen and (max-width: 600px) {
                text-align: center;
            }
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
            text-align: left;
        }
    }

    &-Arrow {
        cursor: pointer;
    }

    &-Content {
        margin-top: 10px;
    }
}