@import './../../Constants.scss';

.Widget {
    &-Header {
        color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 200;
        gap: 5px;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

        h3 {
            margin: 10px;
        }
    }

    &-Arrow {
        cursor: pointer;
    }

    &-Content {
        margin-top: 10px;
    }
}