@import './../../Constants.scss';

.react-draggable {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
}

.TableWidget {
    display: none;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: $border-radius;
    border: black solid 1px;

    &_isShown {
        animation: fadeIn .5s;
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
