@import './../../Constants.scss';

.react-draggable {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
}

.TableWidget {
    min-width: 600px;
    width: 45%;
    display: none;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: $border-radius;
    border: black solid 1px;
    box-sizing: border-box;

    @media screen and (max-width: 600px) {
        margin: 0;
        border-radius: 0;
        // Я не сдержался, так как ширина ставится динамически из tsx
        width: 100% !important;
        min-width: unset !important;
    }

    &_isShown {
        animation: fadeIn .5s;
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}