.MessageWrapper {
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    overflow: hidden;
    z-index: 3;
}