.FilesListItem {
    position: relative;

    &-Image {
        width: 100%;
        height: 100%;
    }

    &-Canvas {
        position: absolute;
        inset: 0;
    }

    &+.FilesListItem {
        margin-top: 40px;
    }
}