@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    margin: 0;
}

.App {
    font-family: "Ysabeau Infant", sans-serif;

    &-Header {
        margin: 0;
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    &-Select {
        margin-top: 40px;
    }

    &-Span {
        text-align: center;
        font-size: 26px;
    }

    &-Upload {
        width: 200px;
        margin: auto;
    }
}

.AppCounter {
    position: fixed;
    z-index: 3;
    top: 10px;
    left: -350px;
    
    &_isShown {
        animation-duration: .5s;
        left: 10px;
        animation-name: CounterApperance;
        transform: translateX(0);
    }
}

.AppWidget {
    animation-name: WidgetDisapperance;
    transform: translateX(660px);
    
    &_isShown {
        animation-duration: .5s;
        animation-name: WidgetApperance;
        transform: translateX(0);
    }
}

@keyframes WidgetDisapperance {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(650px);
    }
}

@keyframes WidgetApperance {
    from {
        transform: translateX(650px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes CounterApperance {
    from {
        transform: translateX(-350px);
    }
    
    to {
        transform: translateX(0);
    }
}
