@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    margin: 0;
}

.App {
    font-family: "Ysabeau Infant", sans-serif;

    &-Counter {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 3;
    }

    &-Header {
        margin: 0;
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    &-Select {
        margin-top: 40px;
    }

    &-Span {
        text-align: center;
        font-size: 26px;
    }
}