@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './../Constants.scss';

body {
    margin: 0;
    background-image: url('./../Assets/Background.svg');
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

button, div, img, html, body {
    -webkit-tap-highlight-color: transparent;
}

.App {
    &-Select {
        margin: calc(18vh) 20px 100px 20px;
        @include paragraph-font;
    }

    &-Header {
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 0;
    }

    &-Upload {
        width: 300px;
        margin: auto;
        margin-top: 170px;
    }
}
