@import './../../Constants.scss';

.Header {
    background-color: $black-transparent;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px 10px $black-transparent;
    
    &-Image {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        @media screen and (max-width: 1080px) {
            display: none;
        }

    }
    
    &-Span {
        margin: 0 10px;
        @media screen and (max-width: 1380px) {
            max-width: 400px;
        }
        @include header-font
    }
}
