@import './../../Constants.scss';

.Header {
    background-color: $black;
    min-height: 72px;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-Image {
        margin-left: 20px;
        transform: scale(1.5);
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        @media screen and (max-width: 975px) {
            display: none;
        }

    }

    &-Span {
        margin: 0 10px;

        @include header-font
    }
}