.DragAndDropZone {
    background-color: rgba($color: #000000, $alpha: .8);
    position: absolute;
    inset: 0;

    &-Border {
        position: absolute;
        inset: 40px;
        border: lightgray 3px dashed;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &-Middle {
        text-align: center;
        font-size: 40px;
        color: lightgray;
    }

    &-Placeholder {
        width: 200px;
    }

    &-Text {
        margin-top: 20px;
    }
}