@import './../../Constants.scss';

.UploadImage {
    width: 100%;
    height: 100%;

    @media (hover: hover) {
        &:hover {
            transition: background-color .3s ease;
            background-color: $black-transparent;
        }
    }

    &:hover {
        transition: background-color .3s ease;
        background-color: $black-transparent;
    }

    &:active {
        transition: background-color .3s ease;
        background-color: $black-transparent;
    }
    
    &-Image {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: $border-radius;
        border: white 2px dashed;
        box-sizing: border-box;
    }

    &-Disabled{
        display: none;
    }
}