.ImageModal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);

    &-Image {
        opacity: .8;

        &:hover {
            opacity: 1;
        } 
    }

    &-Content {
        margin: auto;
    }

    &-Button {
        position: absolute;
        right: 3%;
        top: 3%;
        cursor: pointer;
        z-index: 4;
        opacity: .8;
        transition: opacity .2s ease;

        &:hover {
            opacity: 1;
            transition: opacity .2s ease;
        }
    }
}