.SelectSection {
    &-Back {
        position: fixed;
        left: 15px;
    }

    &-List {
        margin: auto;
        margin-top: 20px;
        width: 40%;
    }

    &-Select {
        position: fixed;
        bottom: 10px;
        margin: auto;
        right: calc(50% - 65px)
    }
}

@media screen and (max-width: 500px) {
    .SelectSection {
        &-List {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

}