@import './../../Constants.scss';

.Message {
    width: 100%;
    min-height: 50px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: $border-radius;
    position: relative;
    animation-name: Apperance;
    animation-duration: 1s;
    background-color: $black-transparent;
    @include paragraph-font;
    text-align: left;

    &-CloseBtn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: lightgray;
        border-radius: 50%;
        padding: 2px;
        margin: 5px;
        position: absolute;
    }
}

@keyframes Apperance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}